[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .pytest_cache,
    .mypy_cache,
    migrations/versions
ignore = 
    # Line break before binary operator
    W503,
    # Line break after binary operator
    W504,
    # Module level import not at top of file (for conditional imports)
    E402,
    # Allow line breaks after operators
    E126